<ion-header>

  <ion-navbar>
    <ion-title>{{checklist.name}}</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segments">
      <ion-segment-button value="info">
        Инфо
      </ion-segment-button>
      <ion-segment-button value="checklist">
        Чеклист
      </ion-segment-button>
      <ion-segment-button value="tooltip">
        Подсказки
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div [ngSwitch]="segments">
    <div *ngSwitchCase="'info'">

      <ion-list>
        <ion-input name="checklistName" placeholder="Задайте имя чеклисту" [(ngModel)]="checklist.userChecklistName" ></ion-input>
        <ion-list-header>
          Инфо
        </ion-list-header>
        <ion-item *ngFor="let item of checklist.mainInfo; let i = index">
          <ion-input name="mainInfo{{i}}" [(ngModel)]="checklist.mainInfo[i]" placeholder="{{item}}"></ion-input>
        </ion-item>

      </ion-list>

    </div>

    <div *ngSwitchCase="'checklist'">
      <ion-list>
        <ion-list-header>
          Документы
        </ion-list-header>
        <ion-item *ngFor="let item of checklist.documents; let i = index">
          <ion-label>{{item.title}}</ion-label>
          <ion-checkbox name="documents{{i}}" [(ngModel)]="checklist.documents[i].checkboxe" [checked]="item.checkboxe"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-list>
        <ion-list-header>
          Внешний осмотр
        </ion-list-header>
        <ion-item *ngFor="let item of checklist.outerInspection; let i = index">
          <ion-label>{{item.title}}</ion-label>
          <ion-checkbox name="outerInspection{{i}}" [(ngModel)]="checklist.outerInspection[i].checkboxe" [checked]="item.checkboxe"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-list>
        <ion-list-header>
          Шины
        </ion-list-header>
        <ion-item *ngFor="let item of checklist.tyres; let i = index">
          <ion-label>{{item.title}}</ion-label>
          <ion-checkbox name="tyres{{i}}" [(ngModel)]="checklist.tyres[i].checkboxe" [checked]="item.checkboxe"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-list>
        <ion-list-header>
          Двигатель
        </ion-list-header>
        <ion-item *ngFor="let item of checklist.engine; let i = index">
          <ion-label>{{item.title}}</ion-label>
          <ion-checkbox name="engine{{i}}" [(ngModel)]="checklist.engine[i].checkboxe" [checked]="item.checkboxe"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-list>
        <ion-list-header>
          Подвеска
        </ion-list-header>
        <ion-item *ngFor="let item of checklist.suspension; let i = index">
          <ion-label>{{item.title}}</ion-label>
          <ion-checkbox name="suspension{{i}}" [(ngModel)]="checklist.suspension[i].checkboxe" [checked]="item.checkboxe"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-list>
        <ion-list-header>
          Интерьер
        </ion-list-header>
        <ion-item *ngFor="let item of checklist.interior; let i = index">
          <ion-label>{{item.title}}</ion-label>
          <ion-checkbox name="interior{{i}}" [(ngModel)]="checklist.interior[i].checkboxe" [checked]="item.checkboxe"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-list>
        <ion-list-header>
          Кузов
        </ion-list-header>
        <ion-item *ngFor="let item of checklist.carBody; let i = index">
          <ion-label>{{item.title}}</ion-label>
          <ion-checkbox name="carBody{{i}}" [(ngModel)]="checklist.carBody[i].checkboxe" [checked]="item.checkboxe"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-list>
        <ion-list-header>
          Трансмиссия
        </ion-list-header>
        <ion-item *ngFor="let item of checklist.transmission; let i = index">
          <ion-label>{{item.title}}</ion-label>
          <ion-checkbox name="transmission{{i}}" [(ngModel)]="checklist.transmission[i].checkboxe" [checked]="item.checkboxe"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-list>
        <ion-list-header>
          Тормоза
        </ion-list-header>
        <ion-item *ngFor="let item of checklist.carBrakes; let i = index">
          <ion-label>{{item.title}}</ion-label>
          <ion-checkbox name="carBrakes{{i}}" [(ngModel)]="checklist.carBrakes[i].checkboxe" [checked]="item.checkboxe"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-list>
        <ion-list-header>
          Рулевое управление
        </ion-list-header>
        <ion-item *ngFor="let item of checklist.carSteering; let i = index">
          <ion-label>{{item.title}}</ion-label>
          <ion-checkbox name="carSteering{{i}}" [(ngModel)]="checklist.carSteering[i].checkboxe" [checked]="item.checkboxe"></ion-checkbox>
        </ion-item>

      </ion-list>
    </div>
    <div *ngSwitchCase="'tooltip'">
      <button ion-button block (click)="showTooltipWhatToBring()">Что взять с собой</button>
      <button ion-button block (click)="showTooltipIfNoDocuments()">Если нет сервисной книжки</button>
      <button ion-button block (click)="showTooltipMoney()">Не покупайте на последние деньги</button>
      <button ion-button block (click)="showTooltipAutoService()">Перед покупкой загоните машину в сервис</button>
      <button ion-button block (click)="showTooltipCheckAuto()">Проверить авто на ДТП по базе ГИБДД</button>

      <div class="bottom-button">
        <button ion-button clear (click)="goToAvtocod()">Проверить авто на "Автокод"</button>
      </div>
    </div>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="saveNewChecklist()"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>
</ion-content>
