<ion-header>

  <ion-navbar>
    <ion-title>Create New Checklist</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-slides pager *ngIf="currentTemplate[0]">
    <ion-slide *ngFor="let slide of currentTemplate[0].slides">
      <h2 class="slide-title" [innerHTML]="slide.header"></h2>
      <ion-list>
        <ion-item *ngFor="let item of slide.list">
          <ion-icon name="checkmark" item-start></ion-icon>
          {{item}}
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <button ion-button large clear icon-end color="primary" (click)="addNewChecklist()">
        Создать чеклист
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
  <ion-item>
    <ion-label>Шаблон</ion-label>
    <ion-select [selectedText]="value" interface="popover">
      <ion-option (ionSelect)="findSlides(listOfTemplates.templates[0].name)" value="{{listOfTemplates.templates[0].name}}">{{listOfTemplates.templates[0].name}}</ion-option>
      <ion-option (ionSelect)="findSlides(listOfTemplates.templates[1].name)" value="{{listOfTemplates.templates[1].name}}">{{listOfTemplates.templates[1].name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label stacked>Введите имя для чеклиста</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addNewChecklist()"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>
</ion-content>
